<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Protfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Portfolio.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Portfolio2.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <section id="home">
        <!--navigation-->
        <nav>
            <!-- logo-->
            <a href="#home" class="logo">Vinz</a>
            <!--menu-->
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skill">Skill</a></li>
                <li><a href="#family">Family</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            
        </nav>
        <!--text------------------>
        <div class="text-container">
            <p>Hello,</p>
            <p>I'm VINS SHAJI</p>
            <p>I am software Engineer<br> & Designer</p>
            <a href="#contact"><button class="hire-btn">Hire Me</button></a>
            <a href="https://drive.google.com/file/d/1SSlduN1KRCxo-ISRRr8Hk5xR_cXgdMKS/view?usp=sharing"><button class="down-cv"><i class="fas fa-download"></i> Download CV</button></a> 
        </div>
        <!--model---->
        <img src="/static/image/vinzz1.png" class="model" alt="model">


        
    </section>
    <!--about section---->
    <div class="about-container" id="about">
        <!--about image-->
        <img src="/static/image/6.jpg">
        <!--about text--->
        <div class="about-text">
            <p>About Me</p>
            <p>Developer & Designer</p>
            <p>Hello, I am Vins Shaji from Idukki Kerala. Am 21 years old and i currently living in Idukki,Kerala  I complete my degree program (Bsc computer science) in College of applied science Kuttikanam under Mahatma Gandi University.Am a python developer and i complete my python 6 month intenship in Network accadamy in Ernakulam </p>
            <p>Currently i doing some project by myself if you want any software or website kindly contact me. I make your project as soon as possible.</p>
            
               
            
            <a href="#contact"><button>Hire Me</button></a>
            <a href="https://drive.google.com/file/d/1SSlduN1KRCxo-ISRRr8Hk5xR_cXgdMKS/view?usp=sharing"><button>Download CV</button></a>
            
        
    </div>

<div>
    <div class="qrpos">
             <img src="/static/image/frame.png" id="qrcode" style="position: absolute; top: 15%; right:1%; width: 250px; height: 250px;"></div>
        </div></div>


    <div class="section">
     <div class="education" id="education">
        <div class="max-width">
            <h2 class="title">My Educations </h2>
            <div class="education-content">
                <div class="card">
                    <div class="box">
                        <a href="">
                        <i class="fas fa-book"></i>
                        <div class="text1">Xth & XII</div>
                        <p class="text1">SSLC in PHSS vandiperiyar.<br><br></p>
                        <p class="fas fa-arrow-down"><br><br></p>
                        <p class="text1">PLUS TWO in THSS peerumade. <br> </p>
                    </div>
                </div>

                 <div class="card">
                     <div class="box">
                         <i class="fas fa-graduation-cap"></i>
                         <a href="https://drive.google.com/file/d/1WrtU46YlhXhQRohaQLPL2PEDRP3al_a7/view?usp=sharing"><div class="text1">Graduation</div></a>
                         <p>College of applied science kuttikanam. <br>
                         <i class="fas fa-university"></i>
                         <p>Mahatma Gandhi University Kottayam. </p>
                     </div>
                 </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Additional Courses</div>
                        <p>PYTHON FULL-STACK <br>
                        Framework -Django
                        <p class="text">Other</p>
                        <p>HTML,CSS,JAVASCRIPT,SQL,PHP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<!---Skills--->
    <div class="section">
    <div class="skill" id="skill">
        <div class="max-width">
            <h2 class="title"> My Skills</h2>
            <div class="skill-content">
                <div class="column left">
                    <div class="text">My Creative Skills</div>
                    <p class="text2">I am a software developer and designer<br><br>In this role, you should be a team player with a keen eye for detail and problem-solving skills. If you also have experience in Agile frameworks and popular coding languages (e.g. JavaScript), we'd like to meet you. Your goal will be to build efficient programs and systems that serve user needs </p>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>85%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>75%</span>
                        </div>
                         <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>PYTHON</span>
                            <span>80%</span>
                        </div>
                         <div class="line python"></div>
                    </div>
                      <div class="bars">
                        <div class="info">
                            <span>DJANGO</span>
                            <span>70%</span>
                        </div>
                           <div class="line django"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>PHP</span>
                            <span>65%</span>
                        </div>
                           <div class="line php"></div>
                    </div>
                      <div class="bars">
                        <div class="info">
                            <span>JAVASCRIPT</span>
                            <span>50%</span>
                        </div>
                           <div class="line java"></div>
                    </div>
                </div>
            </div>
        </div>
                
            </div>
        </div>
    </div>
</div><br><br>
<!---family--------->
<div class="section">
    <div class="family" id="family">
            <h2 class="title">Family & Friends</h2>
            <div class="boxx"><img class="img" src="/static/image/img11.jpg" width="550" height="550"></div>
            <div class="boxx"><img class="img"  src="/static/image/img1.jpg" width="550" height="550"></div>
            <div class="boxx"><img class="img" src="/static/image/img66.jpg" width="550" height="550"></div>
            <div class="boxx"><img class="img" src="/static/image/img22.jpg" width="550" height="550"></div>
            <div class="boxx"><img class="img" src="/static/image/img5.jpg" width="550" height="550"></div>
            <div class="boxx"><img class="img" src="/static/image/img33.jpg" width="550" height="550"></div>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
<!-- Contact Start -->
                        
<div class="section">
    <div class="contact" id="contact">
            <h2 class="title">Contact Me</h2>
            <div class="left-side">
                <h3><i class="fas fa-user"></i> Name</h3>
                    <h4 class="down">Vins Shaji</h4>
                    <h3><i class="fas fa-envelope"></i>Email</h3>
                    <h4 class="down">vins.shaji3017@yahoo.com<br><br>vnsshaji2@gmail.com</h4>
                    <h3><i class="fas fa-phone"></i> Phone</h3>
                    <h4 class="down">+91-703-494-2438<br><br>+91-703-468-78482</h4>
                    <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
                    <h4 class="down">Peerumade,Idukki,Kerala-685531</h4></div>
                    <p class="text3">If you want anyn kind of software or website kindly consider me i fulfill your needs as soon as possible</p>
                    <div class="right-side">
                        <table>
                        <form action="/contact/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <tr>
                        <td><input type="text" name="name" placeholder="Name" class="box1" required="" ></td></tr>
                        <tr>
                        <td><input type="text" name="subject" placeholder="Subject" class="box1" required=""  ></td></tr>
                        <tr>
                        <td><input type="number" name="phone" placeholder="Phone number" class="box1" required=""  ></td></tr>
                        <tr>
                        <td><input type="text" name="email" placeholder="Email" class="box1" required=""  ></td></tr>
                        <td><input type="text" class=" box-message" placeholder="KIndly type your Message and contact details" name="message" required="" ></td></tr>
                        <tr>
                        <td align="center"><button type="submit" class="button" ><i class="fas fa-paper-plane"></i>Send message</button></td></tr></table>
                    </div>
            </div>
        
    </div>
</div><br><br>


        <!-- Contact End -->
{% for message in messages %}
<script> alert("{{message}}")</script>
{% endfor %}
       
    <footer>
        <div class="social">
            <h2 class="text4"><marquee>CATCH ME ON</marquee></h2>
               <span><a href="https://www.instagram.com/vins_shaji/"><i class="fa fa-instagram fa-lg"></i></a></span>
                <span><a href="https://www.facebook.com/vins.vins.313/"><i class="fa fa-facebook fa-lg"></i></a></span>
                <span><a href="https://www.linkedin.com/in/vins-shaji-565984199/"><i class="fa fa-linkedin fa-lg"></i></a></span>
                 <span><a href="https://twitter.com/shaji_vins"><i class="fa fa-twitter"></i></a></span>
                <span><a href="https://github.com/settings/profile"><i class="fa fa-github fa-lg  "></i></a></span></div><br><br>

         <div class="footer">
            
        <span>Created By Vins shaji <span><i class="fas fa-copyright"></i></span>2021 All rights reserved  <reserved class=""></reserved></span></div>
        <div class="up-arrow"><a href="#home"><i class="fas fa-arrow-up"></i></a></div>
    </footer>

    <script src="/static/js/script.js"></script>

</body>
</html> 
