@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,500;1,600&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
	background-color: #f6f5f5; 
	margin: 0px;
	padding: 0px

}
ul{
	list-style: none;

}
a{
	text-decoration: none;
}
section{
	width: 100%;
	height: 95vh;
	background-image: url("/static/image/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,2);
	padding: 0px 5%;

}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: 'STIX Two Text', serif;
	color:#ffffff;
	font-size: 15px;
	font-weight: 700;
	

}
nav ul li a:hover{
color: #44cfbc
}
.logo{
	font-family: 'Special Elite', cursive;
	color: #ffffff;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color:#44cfbc;
}
.text-container p:nth-child(1){
	font-family: calibari
	font-weight:bold;
	color:#6d6d6d;
	font-size: 22px;

}
.text-container p:nth-child(2){
	font-size: 60px;
	font-family: calibari;
	letter-spacing: 1px;
	color: #1a1a1a;

}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}
.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;

}
.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(13%,-42%);
}
.text-container button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: 'STIX Two Text', serif;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;

}
.hire-btn{
	border:2px solid #373636;
	color: #373636;

}
.down-cv{
	background-color: #000000;
	color: #ffffff;
	border:none;

}
button:active{
	transform: scale(1.1);
	cursor: pointer;
}
.model{
	height: 560px;
	position: absolute;
	bottom: 0px;
	left: 70%;
	transform: translateX(-70%);
}
.model1{

height: 560px;
	position: absolute;
	bottom: 0px;
	left: 70%;
	top: 18.5%;
	overflow: hidden;
	transform: translateX( -70%);


}
.model2{

height: 560px;
	position: absolute;
	bottom: 0px;
	left: 70%;
	top: 21.5%;
	overflow: hidden;
	transform: translateX( -70%);


}
.about-container{
	width: 80%;
	height: 330px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin:-7% auto 20px auto;
	position: relative; 

}
.about-container img{
	height: 330px;
}
.about-text{
	width: 550px;
	position: absolute;
	left: 30%;
}
.about-text p:nth-child(1){
	color: #403e3e;
	font-family:myriad pro;
	font-weight: bold;
	font-size: 25px;
	line-height: 0px;

}
.about-text p:nth-child(2){
	color: #3e3d3d;
	font-size: 15px;
	font-family: myrid pro;
	font-weight: bold;
	line-height: 5px;

}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color: #7e7d7d;
	font-family: calibari;
	font-size: 19px;


}
.about-text button{
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border:none;
	font-family: calibari;
	background-color: #262525;

}
/*eduction section*/

.education{
	margin-top: -10%;
    color:#fff;
    background:#a0a3a8;
    height:550px;
    padding: 30px;
}
.text1{
	color: #ffffff;
}
.text2{
	color:#000000;
	font-weight: regular;
	font-family: calibari,serif;
}
.education .title::before{
    background:#fff;
    font-color: #000;
}
.education .title::after{
    content:"";
    background:#111;
    color: #000000;
}
.education .education-content .card{
    width: calc(25% - 25px);
    background:#222;
    text-align:center;
    border-radius:6px;
    padding:20px 25px;
    cursor:pointer;
    float:left;
    margin-left:6%;
}
.education .education-content .card i{
    font-size:50px;
    color:#44cfbc;
    transition:color 0.3s ease;
}
.education .education-content .card .box{
    transition:all 0.3s ease;
}
.education .education-content .card:hover {
     background:#44cfbc;
     }
.education .education-content .card:hover .box{
    transform:scale(1.05);
}
.education .education-content .card:hover i{
     color:#fff;
}
.education .education-content .card .text{
    font-size:25px;
    font-weight:500;
    margin:10px 0 7px 0;
}

/*code for all similar content*/
 .education,.skill,.family,.contact{
    font-family:'times new roman', sans-serif;
}
.education .education-content,
.skill .skill-content{
    display:flex:
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}
.section{
    padding:100px 0;
}
.section .title{
    position:relative;
    text-align:center;
    font-size:40px;
    font-weight:500;
    font-family:'calibari'
    margin-bottom:60px;
    padding-bottom:20px;
}
.section .title::before{
    content:"";
    position:absolute;
    bottom:0px;
    left:50%;
    width:240px;
    height:4px;
    background:#111;
    transform:translateX(-50%);
}
.section .title::after{

    position:absolute;
    bottom:-10px;
    left:50%;
    font-size:20px;
    color:#ffffff;
    padding:5px;
    background:none;
    transform:translateX(-50%);
}
/*Skiil section styling*/
.skill .title::after{
    content:"";
}
.skill .skill-content .column,
.contact .contact-content .column{
    margin-left: 20px;
    width:calc(49% - 30px);
    float:left;
}
.skill .skill-content .left .text{
    font-size:25px;
    font-weight:500;
    margin-bottom:10x;
}
.skill .skill-content .left p{
    text-align:justify;
}
.skill .skill-content .right .bars{
    margin-top:10px;
    margin-left:40px;
    align:center;
    margin-bottom:20px;
}
.skill .skill-content .right .info{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.skill .skill-content .right span{
    font-size:19px;
    font-weight:500;
}
.skill .skill-content .right .line{
    height:5px;
    width:100%;
    background:lightgrey;
    position:relative;
}
.skill .skill-content .right .line::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background:#44cfbc;
}
.skill .skill-content .right .html::before{
    width:85%;
}
.skill .skill-content .right .css::before{
    width:75%;
}
.skill .skill-content .right .python::before{
    width:80%;
}
.skill .skill-content .right .django::before{
    width:70%;
}
.skill .skill-content .right .java::before{
    width:50%;
 }
.skill .skill-content .right .php::before{
    width:65%;
}
.boxx{
	display: block;
	margin-left: 6%;
	float: left;
	width: 25%;
	padding: 10px;
	overflow: hidden;


}
.img
{
	width: 100%;
	border-radius: 10px;

}
.img:hover{
	transform: scale(2,2);
	transition: 3s transform;
}
/*contact section*/
.contact .left-side{
    float: left;
    padding: 15px;
    margin-left: 2%;
    /*background: #f7f7f7;*/
    width: 20%;

}
.contact.left-side .down{
    margin-left: 20px;
    padding: 15px;
}
.contact .left-side i{
    color: #44cfbc;
    padding: 10px;
}
.text3{
	font-family: 'ubandu' sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.social {
	margin-left: 37%;
}

.social i{
	float: left;
	padding: 20px;
	color: #ffffff;

}
.social i:hover{
	border-color: #000000;
	color: #44cfbc;

}

.box1{
	width: 400px;
	height: 50px;
	border:double; 
	border-radius: 5px;
	border-color: #44cfbc;
	background-color: #ffffff;
	font-family: calibari;
	font-size: 18px;
	font-weight: bold;


}
table{
	margin-left: 50%;
}
tr,td{
	padding: 10px;
}
.box-message{
	width: 400px;
	height: 80px;
	border:dotted;
	border-radius: 5px;
	border-color: #44cfbc;
	background:#ffffff;
	font-family: calibari;
	font-size: 18px;
	font-weight: bold;

}
.box1:hover{
	background-color: #44cfbc;
}
.box-message:hover{
	background-color: #44cfbc;

}
.button{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border-color:#44cfbc ;
	font-family:calibari;
	font-weight: bold;
	font-size: 15px;
}
.right-side i{
	color: #44cfbc 
	padding:10px;
}
.button:hover{
	color: #ffffff;
	background-color: #44cfbc;
}

    /*footer section*/
    footer{
        background:#000000;
        width: 100%;
        font-family: popins sans-serif;
        font-size: 20px;
        font-weight: bold;
        color:#fff;
        text-ang:5px 0px;
    }
    .footer{
    margin-top:30px;lign:center;
        paddi
    text-align: center;
    margin-right: 5%;
}
.text4{
	font-family: 'popins' sans-serif;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	margin-right: 60%;
}
.up-arrow i{
	margin-left: 95%;
	size: 80px;
	color: #fff;
}

.footer i:hover{
	color: #ffffff;
 	background-color: #44cfbc
}
.qrpos img{
	margin-top: 15%;
	margin-right: 85%;
}
